[submodule "dissertation/dissertation-extreme-classification-latex"]
	path = dissertation/dissertation-extreme-classification-latex
	url = https://github.com/akaashp2000/dissertation-extreme-classification-latex
